.titulo{
  font: normal normal;
  font-family: Raleway;
  text-align: center;
}

.container{
  display: block;
  background-color: white;
  margin: 5% 10% ;
}

.nome{
  width: 99.4%;
  height: 45px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
}

.cpf{ 
  width: 49%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  
}
.genero{ 
  width: 50%;
  height: 45px;
  margin-top: 1%;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
}

.data{
  width: 49%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
}


.celular{
  width: 50%;
  height: 45px;
  margin-top: 1%;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}

.email{
  width: 99.4%;
  height: 45px;
  margin-top: 1%;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}

.senha{
  width: 99.4%;
  height: 45px;
  margin-top: 1%;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}

.confirsenha{
  width: 99.4%;
  height: 45px;
  margin-top: 1%;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}

.endereco{
  width: 70%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}

.numero{
  width: 29%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}

.bairro{
  width: 60%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
}

.cep{
  width: 39%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}

.cidade{
  width: 60%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;

}


.referencia{
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: -ms-inline-grid;
  border-radius: 4px;

}

.botaovoltar{
  margin-top: 5%;
  width: 30%;
  height: 48px;
  margin-right: 15%;
  margin-left: 13%;
  background: var(--unnamed-color-b7e394) 0% 0% no-repeat padding-box;
  background: #B7E394 0% 0% no-repeat padding-box;
  opacity: 1;
}

.botaoenviar{
  margin-top: 5%;
  width: 30%;
  height: 48px;
  background: var(--unnamed-color-b7e394) 0% 0% no-repeat padding-box;
  background: #B7E394 0% 0% no-repeat padding-box;
  opacity: 1;
}

.botoes{
  display: -ms-inline-grid;

}

.checkbox{
  display: -moz-grid-line;
}

.chec{
  margin-top: 2%;
  width: 30%;
  height: 50%;
  text-align: left;
  margin-left: 45%;
  font: normal normal 600 15px/23px Noto Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.chec2{
  width: 30%;
  height: 50%;
  text-align: left;
  margin-left: 45%;
  font: normal normal 600 15px/23px Noto Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

