.titulo{
  font: normal normal;
  font-family: Raleway;
  text-align: center;
  padding-top: 1.5%; 
}

.container{
  display: block;
  background-color: white;
  margin: 5% 10%;
}

.nome{
  width: 44.7%;
  height: 43px;
  margin-left: 5%;
  margin-right: 5px;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;
}

.cpf{ 
  width: 44.7%;
  height: 43px;
  margin-top: 1%;
  margin-right: 5px;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}
.genero{ 
  width: 44.7%;
  height: 45px;
  margin-left: 5%;
  margin-right: 5px;
  margin-top: 1%;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;
}

.data{
  width: 44.7%;
  height: 45px;
  margin-top: 1%;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;
}


.celular{
  width: 44.7%;
  height: 45px;
  margin-top: 1%;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}

.email{
  width: 90%;
  margin-left: 5%;
  height: 45px;
  margin-top: 1%;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}

.senha{
  width: 90%;
  margin-left: 5%;
  height: 45px;
  margin-top: 1%;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}

.confirsenha{
  width: 90%;
  margin-left: 5%;
  height: 45px;
  margin-top: 1%;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}

.endereco{
  width: 60%;
  margin-left: 5%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}

.numero{
  width: 29.9%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}

.bairro{
  width: 53%;
  margin-left: 5%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;
}

.cep{
  width: 37%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}

.cidade{
  width: 53%;
  margin-left: 5%;
  height: 45px;
  margin-top: 1%;
  margin-right: 5px;
  background: #f0efef 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  font: normal normal 600 15px/22px Raleway;

}


.referencia{
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: -ms-inline-grid;
  border-radius: 4px;
  font: normal normal 600 15px/22px Raleway;

}

.botaovoltar{
  margin-top: 5%;
  width: 30%;
  height: 48px;
  margin-right: 15%;
  margin-left: 13%;
  background: var(--unnamed-color-b7e394) 0% 0% no-repeat padding-box;
  background: #B7E394 0% 0% no-repeat padding-box;
  font: normal normal 600 15px/22px Raleway;
  opacity: 1;
}

.botaoenviar{
  margin-top: 4%;
  width: 30%;
  height: 48px;
  margin-left: 31%;
  margin-bottom: 3%;
  background: var(--unnamed-color-b7e394) 0% 0% no-repeat padding-box;
  background: #B7E394 0% 0% no-repeat padding-box;
  font: normal normal 600 15px/22px Raleway;
  opacity: 1;
}

.botoes{
  display: -ms-inline-grid;

}