html,
body {
  padding: 0;
  margin: 0;
  background-color: #F6F2F2;
}

a {
  color: inherit;
  text-decoration: none;
  font: normal normal bold 15px/10px Raleway;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #F6F2F2;
  --gray-line: #dcdde0;
  --text: #666666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #b6f080;;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
  --laranja: #FFB800;
  --azul: #00acee;
}

button {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

